<p>
  Aqui vemos el detalle de un destino de un viaje
  <br>
  <strong>ID: </strong>{{ destino.id }}
  <br>
  <strong>Ciudad: </strong>{{ destino.nombre }}
  <br>
  <a [routerLink]="'/home'">Regresar</a>
</p>