<!-- <p>
    {{nombre}}
</p> -->

<div class="card-content">
    <div class="card-img">
        <img alt="" src="https://placeimg.com/380/230/nature"/>
        <span>
            <h4>
                {{position}}
            </h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>
            {{destino.nombre}}
        </h3>
        <p>
        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
        </p>
        <h3>
            Servicios
        </h3>
        <ul>
        	<li *ngFor = "let s of destino.servicios">
        		<span [ngSwitch]="s">
	        		<i *ngSwitchCase="'Desayuno'" style="color: red;">
	        			{{s}}
	        		</i>	
	        		<i *ngSwitchDefault>
	        			{{s}}
	        		</i>
				</span>
			</li>
        </ul>
        <a class="btn-card" href="#" (click)="ir()">
            ir
        </a>
        <span *ngIf="destino.isSelected()">
        	<span ngNonBindable>
        		Preferido
        	</span>
        </span>
        <a [routerLink]="['/destino', destino.id]">Ver detalles</a>
    </div>
</div>

